Source: ros-jazzy-moveit-task-constructor-visualization
Section: misc
Priority: optional
Maintainer: Robert Haschke <rhaschke@techfak.uni-bielefeld.de>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, qtbase5-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gmock <!nocheck>, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-launch <!nocheck>, ros-jazzy-launch-testing <!nocheck>, ros-jazzy-launch-testing-ament-cmake <!nocheck>, ros-jazzy-launch-testing-ros <!nocheck>, ros-jazzy-moveit-core, ros-jazzy-moveit-ros-visualization, ros-jazzy-moveit-task-constructor-core, ros-jazzy-moveit-task-constructor-msgs, ros-jazzy-rclcpp, ros-jazzy-rviz2, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-moveit-task-constructor-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, ros-jazzy-moveit-core, ros-jazzy-moveit-ros-visualization, ros-jazzy-moveit-task-constructor-core, ros-jazzy-moveit-task-constructor-msgs, ros-jazzy-rclcpp, ros-jazzy-rviz2, ros-jazzy-ros-workspace
Description: Visualization tools for MoveIt Task Pipeline
